.borders {
    -fx-border-color:  #032D4D;
    -fx-border-width: 2;
}

.btn{
     -fx-background-color :  #0A4965;
     -fx-text-fill : WHITE;
     -fx-font-size: 14px;
     -fx-alignment: CENTER;
     -fx-padding: 0 0 0 0;
}

.btn:hover{
-fx-background-color : #032D4D;
}

.warning{
    -fx-alignment: CENTER;
    -fx-text-fill: RED;
    -fx-font-size: 12px;
}

.success{
    -fx-alignment: CENTER;
    -fx-text-fill: GREEN;
    -fx-font-size: 12px;
}

.background{
 -fx-background-color: #dfecf2;
}

.bar{
    -fx-background-color: #0A4965;
}

.final{
     -fx-background-color :  #0A4965;
     -fx-text-fill : WHITE;
     -fx-font-size: 24px;
     -fx-alignment: CENTER;
     -fx-padding: 0 0 0 0;
}

.final:hover{
-fx-background-color : #032D4D;
}
